/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-main);
    color: var(--text-primary);
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    text-decoration: bold;
    color : var(--text-secondary);
  }
  
  .theme-toggle {
    background: none;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--text-color);
  }
  
  .theme-toggle:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
  